* {
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background-image: url("/static/whitebrick.png");
    background-repeat: repeat;
}

.btn-green {
    background-color: #59a985;
}

.btn btn-danger {
    background-color: #e6d3a7;
}