{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
        <h4>Hmm...</h4>
        <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExODA4cDIyc3UxNXkwYjlyMW0zdmlzd2FibTF4ams1eDhwcnk1b2FqMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/wbDYIEwvvLVao/giphy.gif"><br>
        <h4>Sorry. No commonalities between the books you entered.</h4>
        <a href="/book-recs/new" class="btn-green">Try Again</a>
    </div>
</div>
{% endblock %}