{% extends 'base.html' %}
{% block content %}
<h1>Enter 2 books you enjoyed reading, to get a recommendation:<h1></h1>
<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form
    if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-success" type="submit">Find Books</button>
</form>

{% endblock %}