{% extends 'base.html' %}
{% block content %}

<script type="text/javascript">
$("#loading").hide() // <![CDATA[
    function loading(){
        $("#loading").show(); // not showing 
        $("#content").hide(); // working - removing the form while processing request       
    }
// ]]></script>

<style>
    div#loading {
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    display: none;
    cursor: wait; 
    }
</style>

<div class="row justify-content-md-center">
<div class="col-md-7 col-lg-5">

    <div id="loading">
        <div class="text-center">
            <h1>Finding Books ... </h1>
            <img src="/static/Ybin.gif">
        </div>
    </div>


    <div id="content">
    <h1>Enter 2 book titles:<h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {% for field in form
        if field.widget.input_type != 'hidden' %}
        <p>
                <h4>{{ field.label }}</h4>
                    {{ field(class_="form-control") }}

            {% for error in field.errors %}
            <span class="form-text text-danger">{{ error }}</span>
            {% endfor %}
        </p>
        {% endfor %}
        
        <button class="btn btn-success" type="submit" value="submit" onclick="loading();"> Get Recommendations!
        </button>
        </div>
    </form>
</div>
</div>
{% endblock %}