{% extends 'base.html' %}
{% block content %}

<script>
    $('.btn').on('click', function () {
    var $this = $(this);
    $this.button('loading');
    setTimeout(function() {
        $this.button('reset');
    }, 8000)
});
</script>

<h1>Enter 2 books to get a recommendation:<h1></h1>
<form method="POST">
    {{ form.hidden_tag() }}
    {% for field in form
    if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </p>
    {% endfor %}
  
    <button class="btn btn-success" type="submit" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Finding Books"> Get Recommendation!
    </button>


    <!-- <button class="btn btn-success" type="submit">Get recommendation</button> -->
    <!-- <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button> -->

</form>

{% endblock %}